body {
  margin: 0;
  font-family: "Aileron";
}

.App {
  height: 100vh;
  width: 100%;
  background-color: #410d1d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 560px;
  height: 757px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-family: "Aileron", sans-serif;
}

.login-box h1 {
  margin-bottom: 10px;
  color: #410d1d;
  font-size: 40px;           
  font-family: "Aileron Black", sans-serif; 
}

.subtitle {
  margin-bottom: 40px;
  color: #555;
  font-size: 1.1rem;
  font-family: "Aileron", sans-serif; 
}

.input-field {
  width: 70%;
  padding: 12px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.login-btn {
  background-color: #410d1d;
  color: white;
  border: none;
  padding: 14px 30px;
  margin-top: 30px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Aileron", sans-serif;
}

.login-btn:hover {
  background-color: #5a1a2d;
}